.head{
    margin-left: 200px;
    margin-top: 200px;
}
.head h2{
    color: black;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
}
.head p{
    color: black;
    font-size: 23px;
    width: 900px;
}
.team-list{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 800px;
}
.team-list p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
}
.team-list .card-about{
    width: 100px;
    margin-left: 350px;
}
.team-list .card-about img{
    width: 300px;
    height: 250px;
}
.team-list .about-card-list{
    width: 1500px;
}
.join-team{
    background-color: rgb(5, 133, 16);
    width: 1200px;
    margin: auto;
}
.join-team h1{
    padding-top: 20px;
    margin-left: 20px;
    font-family: 'Krona One', sans-serif;
    color: rgb(255, 255, 255);
}
.join-team p{
    padding-top: 10px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    width: 500px;
}
.join-team a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 120px;
    margin-left:10px;
    transition: 0.3s;
}
.join-team a:hover{
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.623);
}
@media only screen and (max-width: 1700px) and (min-width:1200px) {
    .head{
        margin-left: 200px;
        margin-top: 200px;
    }
    .head h2{
        color: black;
        font-size: 32px;
        font-family: 'Krona One', sans-serif;
    }
    .head p{
        color: black;
        font-size: 23px;
        width: 900px;
    }
    .team-list{
        margin-top: 100px;
        margin-left: 10%;
        margin-bottom: 100px;
        height: 800px;

    }
    .team-list p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 19px;
    }
    .team-list .card-about{
        width: 100px;
        margin-left:7%;
        margin-right: 12%;

    }
    .team-list .card-about img{
        width: 260px;
        height: 210px;
    }
    .team-list .about-card-list{
        width:100%;
        
    }
    .join-team{
        background-color: rgb(5, 133, 16);
        width: 1060px;
        margin: auto;
    }
    .join-team h1{
        padding-top: 20px;
        margin-left: 20px;
        font-family: 'Krona One', sans-serif;
        color: rgb(255, 255, 255);
    }
    .join-team p{
        padding-top: 10px;
        margin-left: 20px;
        color: rgb(255, 255, 255);
        width: 500px;
    }
    .join-team a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 104px;
        margin-left:10px;
        transition: 0.3s;
    }
    .join-team a:hover{
        transition: 0.3s;
        color: rgba(255, 255, 255, 0.623);
    }
}

@media only screen and (max-width: 1199px)and (min-width: 600px) { 
.head{
    margin-left: 200px;
    margin-top: 200px;
}
.head h2{
    color: black;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
}
.head p{
    color: black;
    font-size: 23px;
    width: 900px;
}
.team-list{
    margin-top: 100px;
    margin-left: 10%;
    margin-bottom: 100px;
    height: 850px;
}
.team-list p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
}
.team-list .card-about{
    width: 100px;
    margin-left:7%;
    margin-right: 12%;

}
.team-list .card-about img{
    max-width: 180px;
    height: 170px;
}
.team-list .about-card-list{
    justify-content: center;
    width:90%;
    
}
.join-team{
    background-color: rgb(5, 133, 16);
    width: 80%;
    margin: auto;
}
.join-team h1{
    padding-top: 20px;
    margin-left: 20px;
    font-family: 'Krona One', sans-serif;
    color: rgb(255, 255, 255);
}
.join-team p{
    padding-top: 10px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    width: 90%;
}
.join-team a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 45px;
    margin-left:10px;
    transition: 0.3s;
}
.join-team a:hover{
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.623);
}
}
@media only screen and (max-width: 1199px)and (min-width:879px) {
    .team-list{
        margin-top: 100px;
        margin-left: 10%;
        margin-bottom: 100px;
        height: 550px;
    }
}
@media only screen and (max-width: 600px) {
    .head{
        margin-left: 200px;
        margin-top: 200px;
    }
    .head h2{
        color: black;
        font-size: 32px;
        font-family: 'Krona One', sans-serif;
    }
    .head p{
        color: black;
        font-size: 23px;
        width: 900px;
    }
    .team-list{
        margin-top: 40px;
        margin-left: 25%;
        margin-bottom: 100px;
        height: 1550px;
    }
    .team-list p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 19px;
    }
    .team-list .card-about{
        width: 40%;
        margin-left:0%;
        margin-right: 11%;
    
    }
    .team-list .card-about img{
        max-width: 150px;
        height: 150px;
    }
    .team-list .about-card-list{
        justify-content: center;
        width:40%;
    }
    .join-team{
        background-color: rgb(5, 133, 16);
        width: 80%;
        margin: auto;
    }
    .join-team h1{
        padding-top: 20px;
        font-size: 22px;
        margin-left: 20px;
        font-family: 'Krona One', sans-serif;
        color: rgb(255, 255, 255);
    }
    .join-team p{
        padding-top: 10px;
        margin-left: 20px;
        font-size: 15px;
        color: rgb(255, 255, 255);
        width: 85%;
    }
    .join-team a{
        text-decoration: none;
        display: block;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 40px;
        margin-left:0px;
        transition: 0.3s;
    }
    .join-team a:hover{
        transition: 0.3s;
        color: rgba(255, 255, 255, 0.623);
    }
}