.disc{
    margin-top: 75px;
    background-color: black;
    height: 866px;
}
.disc .gif img{
    float: right;
    margin-right: 250px;
    padding-top: 150px;
}
.disc h1{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
    margin-left: 200px;
    color: white;
    padding-top: 150px;
}
.disc p{
    font-size: 28px;
    font-weight: bold;
    width: 750px;
    color: white;
    margin-left: 200px;
    margin-top: 20px;
}
.disc button{
    border: white 1px solid;
    padding: 11px;
    width: 180px;
    color: white;
    background-color: black;
    transition: 0.5s;
    margin-top: 20px;
    margin-left: 200px;
}
.disc button:hover{
    transition: 0.5s;
    background-color: rgb(0, 91, 133);
    border: rgb(0, 91, 133) 1px solid;
}
.partner-logo {
    margin-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo li{
    margin: 0 63px;
    list-style: none;
}
.partner-logo img{
    background-color: white;
    width: 150px;
}
.cases{
    margin-left: 250px;
    margin-top: 150px;
    height: 850px;
}
.cases h1{
    color: black;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
}
.cases p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    width: 600px;
}
.cases .num td{
    color: black;
    font-weight: bold;
    font-size: 25px;
}
.cases .content td{
    color:black;
    font-size: 19px;
    padding-right:50px;
    padding-bottom: 30px;
}
.cases a{
    font-size: 20px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}
.cases .carousel{
    position: absolute;
    margin-left: 800px;
    width: 600px;
}
.cases img{
    width: 600px;
    height: 800px;
}
.solutions{
    margin-left: 250px;
    margin-top: 70px;
    height: 900px;
}
.solutions h1{
    color: black;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
}
.solutions p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    width: 600px;
}
.solutions a{
    font-size: 20px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}
.solutions .card-home{
    margin-left: 800px;
    width: 700px;
    height: 0;
}
.testimonials{
    margin-left: 250px;
    margin-top: 20px;
    height: 1000px;
}
.testimonials h1{
    color: black;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
}
.testimonials p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    width: 600px;
}
.testimonials .collab-home{
    position: absolute;
    margin-left: 730px;
    width: 780px;
}
.about{
    margin-left: 250px;
    margin-top: 10px;
    height: 650px;
}
.about h1{
    color: black;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
}
.about p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    width: 600px;
}
.about-list{
    position: absolute;
    margin-left: 780px;
    width: 780px;
}
.notif{
    margin-left: 250px;
    margin-top: 100px;
    background-color:rgb(120, 203, 168) ;
    height: 540px;
    width: 1400px;
}
.notif h2{
    color: black;
    font-size: 30px;
    padding-top: 40px;
    padding-left: 30px;
    font-family: 'Krona One', sans-serif;
}
.notif p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    padding-left: 30px;
    width: 700px;
}
.notif h1{
    color: black;
    text-align: center;
    font-size: 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 150px;
    padding-bottom: 20px;
}
.notif input{
    height: 70px;
    width: 1100px;
    margin-left: 30px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    background-color: rgb(120, 203, 168) ;

}
.notif button{
    background-color: black;
    color: white;
    width: 250px;
    height: 71px;
}
.latest{
    margin-left: 250px;
    margin-top: 100px;
}
.latest h1{
    color: black;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
}
.latest p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    width: 600px;
}
/*responsive */
@media only screen and (max-width: 1700px) and (min-width:1200px) {
    .disc{
        margin-top: 75px;
        background-color: black;
        height: 700px;
    }
    .disc .gif img{
        width: 450px;
        float: right;
        margin-right: 10%;
        padding-top: 150px;
    }
    .disc h1{
        font-size: 40px;
        font-weight: bold;
        font-family: 'Krona One', sans-serif;
        margin-left: 140px;
        color: white;
        padding-top: 150px;
    }
    .disc p{
        font-size: 20px;
        font-weight: bold;
        width: 40%;
        color: white;
        margin-left: 140px;
        margin-top: 20px;
    }
    .disc button{
        border: white 1px solid;
        padding: 9px;
        width: 160px;
        color: white;
        background-color: black;
        transition: 0.5s;
        margin-top: 20px;
        margin-left: 140px;
    }
    .partner-logo{
        margin-top: 150px;
    }
    .partner-logo li{
        list-style: none;
        margin-left: 20px;
    }
    .partner-logo img{
        background-color: white;
        width: 120px;
    }
    .cases{
        margin-left: 10%;
        margin-top: 150px;
        height: 850px;
    }
    .cases h1{
        color: black;
        font-size: 27px;
        font-family: 'Krona One', sans-serif;
    }
    .cases p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        width: 40%;
    }
    .cases .num td{
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
    .cases .content td{
        color:black;
        font-size: 17px;
        padding-right:50px;
        padding-bottom: 30px;
    }
    .cases a{
        font-size: 19px;
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    .cases .carousel{
        position: absolute;
        margin-left: 40%;
        width:40%;
    }
    .cases img{
        width: 100%;
        height: 800px;
    }
    .solutions{
        margin-left: 10%;
        margin-top: 100px;
        height: 850px;
    }
    .solutions h1{
        color: black;
        font-size: 27px;
        font-family: 'Krona One', sans-serif;
    }
    .solutions p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        width: 40%;
    }
    .solutions a{
        font-size: 19px;
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    .solutions .card-home{
        margin-left: 45%;
        width: 55%;
        height: 0;
    }
    .solutions .card-home p{
        width: 100%;
    }
    .testimonials{
        margin-left: 10%;
        margin-top: 100px;
        height: 1000px;
    }
    .testimonials h1{
        color: black;
        font-size: 27px;
        font-family: 'Krona One', sans-serif;
    }
    .testimonials p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        width: 40%;
    }
    .testimonials .collab-home{
        position: absolute;
        margin-left: 40%;
        width: 50%;
    }
    .about{
        margin-left: 10%;
        margin-top: 0px;
        height: 650px;
    }
    .about h1{
        color: black;
        font-size: 27px;
        font-family: 'Krona One', sans-serif;
    }
    .about p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        width: 40%;
    }
    .about-list{
        position: absolute;
        margin-left: 41%;
        width: 40%;
    }
    .notif{
        margin-left: 10%;
        margin-top: 100px;
        background-color:rgb(120, 203, 168) ;
        height: 540px;
        width: 82%;
    }
    .notif h2{
        color: black;
        font-size: 26px;
        padding-top: 40px;
        padding-left: 30px;
        font-family: 'Krona One', sans-serif;
    }
    .notif p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 19px;
        padding-left: 30px;
        width: 600px;
    }
    .notif h1{
        color: black;
        text-align: center;
        font-size: 60px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 150px;
        padding-bottom: 20px;
    }
    .notif input{
        height: 70px;
        width: 79%;
        margin-left: 30px;
        border: 1px solid black;
        font-weight: bold;
        text-align: center;
        background-color: rgb(120, 203, 168) ;
    
    }
    .notif button{
        background-color: black;
        color: white;
        width: 15%;
        height: 71px;
    }
    .latest{
        margin-left: 10%;
        margin-top: 100px;
    }
    .latest h1{
        color: black;
        font-size: 27px;
        font-family: 'Krona One', sans-serif;
    }
    .latest p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        width: 40%;
    }
}
@media only screen and (max-width: 1199px)and (min-width: 600px) {
    .disc{
        margin-top: 0px;
        background-color: black;
        height: 680px;
    }
    .disc .gif{
        display: block;
        width: 400px;
        margin: auto;
    }
    .disc .gif img{
        float: none;
        position: absolute;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        padding-top: 350px;
    }
    .disc h1{
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        font-family: 'Krona One', sans-serif;
        margin-left: 0px;
        color: white;
        padding-top: 100px;
    }
    .disc p{
        text-align: center;
        display: block;
        width: 70%;
        margin: auto;
        font-size: 17px;
        font-weight: bold;
        color: white;
        margin-left: 15%;
        margin-top: 20px;
    }
    .disc button{
        border: white 1px solid;
        padding: 7px;
        display: block;
        margin: auto;
        width: 160px;
        color: white;
        background-color: black;
        transition: 0.5s;
        margin-top: 15px;
    }
    .partner-logo{
        margin-top: 270px;
        position: absolute;
    }
    .partner-logo li{
        list-style: none;
        margin: 0 5%;
        margin-left: 0px;
    }
    .partner-logo img{
        background-color: white;
        width: 100%;
    }
    .cases{
        margin-left: 10%;
        margin-top: 40px;
        height: 800px;
    }
    .cases h1{
        color: black;
        font-size: 27px;
        font-family: 'Krona One', sans-serif;
    }
    .cases p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 19px;
        width: 90%;
    }
    .cases .num td{
        color: black;
        font-weight: bold;
        font-size: 19px;
    }
    .cases .content td{
        color:black;
        font-size: 16px;
        padding-right:10px;
        padding-bottom: 30px;
    }
    .cases a{
        font-size: 19px;
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    .cases .carousel{
        position: absolute;
        margin-left: 0%;
        margin-top: 240px;
        width:80%;
    }
    .cases img{
        width: 100%;
        height: 600px;
    }
    .solutions{
        margin-left: 10%;
        margin-top: 100px;
        height: 1200px;
    }
    .solutions h1{
        color: black;
        font-size: 27px;
        font-family: 'Krona One', sans-serif;
    }
    .solutions p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        width: 90%;
    }
    .solutions a{
        font-size: 19px;
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    .solutions .card-home{
        position: absolute;
        margin-top: 250px;
        margin-left: 0%;
        width: 85%;
        height: 0;
    }
    .solutions .card-home p{
        width: 100%;
    }
    .testimonials{
        margin-left: 10%;
        margin-top: 100px;
        height: 1050px;
    }
    .testimonials h1{
        color: black;
        font-size: 24px;
        font-family: 'Krona One', sans-serif;
    }
    .testimonials p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        width: 90%;
    }
    .testimonials .collab-home{
        justify-content: center;
        margin-left: 0%;
        margin-top: 130px;
        width: 90%;
    }
    .about{
        margin-left: 10%;
        margin-top: 0px;
        height: 950px;
    }
    .about h1{
        color: black;
        font-size: 27px;
        font-family: 'Krona One', sans-serif;
    }
    .about p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        width: 90%;
    }
    .about-list{
        position: absolute;
        margin-left: 0%;
        margin-top: 330px;
        width: 40%;
    }
    .notif{
        margin-left: 10%;
        margin-top: 00px;
        background-color:rgb(120, 203, 168) ;
        height: 540px;
        width: 82%;
    }
    .notif h2{
        color: black;
        font-size: 26px;
        padding-top: 40px;
        padding-left: 30px;
        font-family: 'Krona One', sans-serif;
    }
    .notif p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 19px;
        padding-left: 30px;
        width: 90%;
    }
    .notif h1{
        color: black;
        text-align: center;
        font-size: 39px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 150px;
        padding-bottom: 20px;
    }
    .notif input{
        height: 70px;
        width: 70%;
        margin-left: 30px;
        border: 1px solid black;
        font-weight: bold;
        text-align: center;
        background-color: rgb(120, 203, 168) ;
    
    }
    .notif button{
        background-color: black;
        color: white;
        width: 20%;
        height: 71px;
    }
    .latest{
        margin-left: 10%;
        margin-top: 100px;
    }
    .latest h1{
        color: black;
        font-size: 27px;
        font-family: 'Krona One', sans-serif;
    }
    .latest p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        width: 90%;
    }
}
@media only screen and (max-width: 1199px)and (min-width: 800px) {
    .about-list{
        margin-top: 270px;
        margin-left: 15%;
    }
}
@media only screen and (max-width: 600px) {
    .disc{
        margin-top: 0px;
        background-color: black;
        height: 360px;
    }
    .disc .gif{
        display: block;
        width: 400px;
        margin: auto;
    }
    .disc .gif img{
        display: none;
    }
    .disc h1{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        font-family: 'Krona One', sans-serif;
        margin-left: 0px;
        color: white;
        padding-top: 20px;
    }
    .disc p{
        text-align: center;
        display: block;
        width: 70%;
        margin: auto;
        font-size: 17px;
        font-weight: bold;
        color: white;
        margin-left: 15%;
        margin-top: 20px;
    }
    .disc button{
        border: white 1px solid;
        padding: 6px;
        display: block;
        margin: auto;
        width: 160px;
        color: white;
        background-color: black;
        transition: 0.5s;
        margin-top: 15px;
    }
    .partner-logo{
        margin-top: 5%;
        position: absolute;
    }
    .partner-logo li{
        list-style: none;
        margin: 0 5%;
        margin-left: 0px;
    }
    .partner-logo img{
        background-color: white;
        width: 100%;
    }
    .cases{
        margin-left: 10%;
        margin-top: 40px;
        height: 730px;
    }
    .cases h1{
        color: black;
        font-size: 27px;
        font-family: 'Krona One', sans-serif;
    }
    .cases p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 19px;
        width: 90%;
    }
    .cases .num td{
        color: black;
        font-weight: bold;
        font-size: 19px;
    }
    .cases .content td{
        color:black;
        font-size: 16px;
        padding-right:10px;
        padding-bottom: 30px;
    }
    .cases a{
        font-size: 19px;
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    .cases .carousel{
        position: absolute;
        margin-left: 0%;
        margin-top: 330px;
        width:80%;
    }
    .cases img{
        width: 100%;
        height: 450px;
    }
    .solutions{
        margin-left: 10%;
        margin-top: 100px;
        height: 1200px;
    }
    .solutions h1{
        color: black;
        font-size: 27px;
        font-family: 'Krona One', sans-serif;
    }
    .solutions p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        width: 90%;
    }
    .solutions a{
        font-size: 19px;
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    .solutions .card-home{
        position: absolute;
        margin-top: 300px;
        margin-left: 0%;
        width: 85%;
        height: 0;
    }
    .solutions .card-home p{
        width: 100%;
    }
    .testimonials{
        margin-left: 10%;
        margin-top: 120px;
        height: 2200px;
    }
    .testimonials h1{
        color: black;
        font-size: 24px;
        font-family: 'Krona One', sans-serif;
    }
    .testimonials p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        width: 90%;
    }
    .testimonials .collab-home{
        justify-content: center;
        margin-left: 0%;
        margin-top: 210px;
        width: 90%;
    }
    .about{
        margin-left: 10%;
        margin-top: 0px;
        height: 500px;
    }
    .about h1{
        color: black;
        font-size: 27px;
        font-family: 'Krona One', sans-serif;
    }
    .about p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        width: 90%;
    }
    .about-list{
        display: none;
    }
    .notif{
        margin-left: 10%;
        margin-top: 00px;
        background-color:rgb(120, 203, 168) ;
        height: 400px;
        width: 83%;
    }
    .notif h2{
        color: black;
        font-size: 20px;
        padding-top: 20px;
        padding-left: 10px;
        font-family: 'Krona One', sans-serif;
    }
    .notif p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        padding-left: 10px;
        width: 100%;
    }
    .notif h1{
        color: black;
        text-align: center;
        font-size: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .notif input{
        height: 50px;
        width: 60%;
        margin-left: 30px;
        font-size: 14px;
        border: 1px solid black;
        font-weight: bold;
        text-align: center;
        background-color: rgb(120, 203, 168) ;
    
    }
    .notif button{
        background-color: black;
        border: none;
        color: white;
        font-size: 12px;
        width: 27%;
        height: 53px;
    }
    .latest{
        margin-left: 10%;
        margin-top: 100px;
    }
    .latest h1{
        color: black;
        font-size: 25px;
        font-family: 'Krona One', sans-serif;
    }
    .latest p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        width: 90%;
    }
}
