.head{
    margin-left: 200px;
    margin-top: 200px;
}
.head h2{
    color: black;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
}
.head p{
    color: black;
    font-size: 23px;
    width: 1000px;
}
.head button{
    border: black 1px solid;
    margin-top: 12px;
    font-weight: bold;
    font-size: 17px;
    padding: 11px;
    width: 180px;
    color: black;
    background-color: white;
    transition: 0.5s;
}
.head button:hover{
    transition: 0.5s;
    color: white;
    background-color: rgb(0, 91, 133);
    border: rgb(0, 91, 133) 1px solid;
}
.cardSol{
    margin-top: 100px;
}
.cardSol .cards{
    width: 31%;
    height: 300px;
}
.cardSol .cards img{
    width: 150px;
    margin-bottom: 40px;
}
.cardSol .cards p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 290px;
    margin: auto;
    text-align: center;
}
.story{
    margin-left: 200px;
    margin-top: 120px;
    height: 1000px;
}
.story h1{
    color: black;
    font-size: 32px;
    width: 700px;
    font-family: 'Krona One', sans-serif;
}
.story p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    width: 600px;
}
.story-list{
    position: absolute;
    margin-left: 780px;
    width: 780px;
}
.defi{
    margin-left: 200px;
    margin-top: 40px;
    height: 850px;
}
.defi h1{
    color: black;
    font-size: 32px;
    width: 700px;
    font-family: 'Krona One', sans-serif;
}
.defi p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    width: 600px;
}
.defi .num td{
    color: black;
    font-weight: bold;
    font-size: 25px;
}
.defi .content td{
    color:black;
    font-size: 19px;
    padding-right:50px;
    padding-bottom: 30px;
}
.defi a{
    font-size: 20px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}
.defi .carousel{
    position: absolute;
    margin-left: 850px;
    width: 600px;
}
.defi img{
    width: 600px;
    height: 800px;
}
@media only screen and (max-width: 1700px) and (min-width:1200px) {
    .head{
        margin-left: 200px;
        margin-top: 200px;
    }
    .head h2{
        color: black;
        font-size: 32px;
        font-family: 'Krona One', sans-serif;
    }
    .head p{
        color: black;
        font-size: 23px;
        width: 1000px;
    }
    .head button{
        border: black 1px solid;
        margin-top: 12px;
        font-weight: bold;
        font-size: 17px;
        padding: 11px;
        width: 180px;
        color: black;
        background-color: white;
        transition: 0.5s;
    }
    .head button:hover{
        transition: 0.5s;
        color: white;
        background-color: rgb(0, 91, 133);
        border: rgb(0, 91, 133) 1px solid;
    }
    .cardSol{
        margin-top: 100px;
    }
    .cardSol .cards{
        width: 31%;
        height: 300px;
    }
    .cardSol .cards img{
        width: 150px;
        margin-bottom: 40px;
    }
    .cardSol .cards p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        width: 290px;
        margin: auto;
        text-align: center;
    }
    .story{
        margin-left: 10%;
        margin-top: 120px;
        height: 1000px;
    }
    .story h1{
        color: black;
        font-size: 32px;
        width: 700px;
        font-family: 'Krona One', sans-serif;
    }
    .story p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 19px;
        width: 600px;
    }
    .story .story-list{
        position: absolute;
        margin-left: 42%;
        width: 48%;
    }
    .defi{
        margin-left: 10%;
        margin-top: 40px;
        height: 850px;
    }
    .defi h1{
        color: black;
        font-size: 25px;
        width: 45%;
        font-family: 'Krona One', sans-serif;
    }
    .defi p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        width: 45%;
    }
    .defi .num td{
        color: black;
        font-weight: bold;
        font-size: 23px;
    }
    .defi .content td{
        color:black;
        font-size: 18px;
        padding-right:50px;
        padding-bottom: 30px;
    }
    .defi a{
        font-size: 20px;
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    .defi .carousel{
        position: absolute;
        margin-left: 46%;
        width: 35%;
    }
    .defi img{
        width: 100%;
        height: 800px;
    }
}
@media only screen and (max-width: 1199px)and (min-width: 600px) {
    .head{
        margin-left: 200px;
        margin-top: 200px;
    }
    .head h2{
        color: black;
        font-size: 32px;
        font-family: 'Krona One', sans-serif;
    }
    .head p{
        color: black;
        font-size: 23px;
        width: 1000px;
    }
    .head button{
        border: black 1px solid;
        margin-top: 12px;
        font-weight: bold;
        font-size: 17px;
        padding: 11px;
        width: 180px;
        color: black;
        background-color: white;
        transition: 0.5s;
    }
    .head button:hover{
        transition: 0.5s;
        color: white;
        background-color: rgb(0, 91, 133);
        border: rgb(0, 91, 133) 1px solid;
    }
    .cardSol{
        margin-top: 50px;
        height: 750px;
    }
    .cardSol .cards{
        width: 41%;
        height: 250px;
    }
    .cardSol .cards img{
        width: 120px;
        margin-bottom: 40px;
    }
    .cardSol .cards p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        width: 200px;
        margin: auto;
        text-align: center;
    }
    .story{
        margin-left: 10%;
        margin-top: 00px;
        height: 1100px;
    }
    .story .story-list h1{
        color: black;
        font-size: 32px;
        width: 700px;
        font-family: 'Krona One', sans-serif;
    }
    .story .story-list{
        position: absolute;
        margin-left: 0%;
        width: 48%;
    }
    .defi{
        margin-left: 10%;
        margin-top: 100px;
        height: 1100px;
    }
    .defi h1{
        color: black;
        font-size: 25px;
        width: 80%;
        font-family: 'Krona One', sans-serif;
    }
    .defi p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        width: 90%;
    }
    .defi .num td{
        color: black;
        font-weight: bold;
        font-size: 23px;
    }
    .defi .content td{
        color:black;
        font-size: 18px;
        padding-right:50px;
        padding-bottom: 30px;
    }
    .defi a{
        font-size: 20px;
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    .defi .carousel{
        position: absolute;
        margin-left: 5%;
        margin-top: 380px;
        width: 70%;
    }
    .defi img{
        width: 100%;
        height: 700px;
    }
}
@media only screen and (max-width: 600px) {
    .head{
        margin-left: 200px;
        margin-top: 200px;
    }
    .head h2{
        color: black;
        font-size: 32px;
        font-family: 'Krona One', sans-serif;
    }
    .head p{
        color: black;
        font-size: 23px;
        width: 1000px;
    }
    .head button{
        border: black 1px solid;
        margin-top: 12px;
        font-weight: bold;
        font-size: 17px;
        padding: 11px;
        width: 180px;
        color: black;
        background-color: white;
        transition: 0.5s;
    }
    .head button:hover{
        transition: 0.5s;
        color: white;
        background-color: rgb(0, 91, 133);
        border: rgb(0, 91, 133) 1px solid;
    }
    .cardSol{
        margin-top: 50px;
        height: 1550px;
    }
    .cardSol .cards{
        width: 90%;
        height: 250px;
    }
    .cardSol .cards img{
        width: 120px;
        margin-bottom: 40px;
    }
    .cardSol .cards p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        width: 200px;
        font-size: 17px;
        margin: auto;
        text-align: center;
    }
    .story{
        margin-left: 10%;
        margin-top: 00px;
        height: 1100px;
    }
    .story .story-list h1{
        color: black;
        font-size: 32px;
        width: 700px;
        font-family: 'Krona One', sans-serif;
    }
    .story .story-list{
        position: absolute;
        margin-left: 0%;
        width: 48%;
    }
    .defi{
        margin-left: 10%;
        margin-top: 100px;
        height: 1000px;
    }
    .defi h1{
        color: black;
        font-size: 22px;
        width: 80%;
        font-family: 'Krona One', sans-serif;
    }
    .defi p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        width: 90%;
    }
    .defi .num td{
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
    .defi .content td{
        color:black;
        font-size: 16px;
        padding-right:20px;
        padding-bottom: 30px;
    }
    .defi a{
        font-size: 20px;
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    .defi .carousel{
        position: absolute;
        margin-left: 5%;
        margin-top: 470px;
        width: 70%;
    }
    .defi img{
        width: 100%;
        height: 550px;
    }
}
