html{
    background-color: white;
}
.nav-body{
    top: 0;
    z-index: 100000;
    width: 100%;
    background-color: black;
    position: fixed;
}
.logo img{
    width: 150px;
    float: left;
    margin-top: 14px;
    margin-left: 100px;
}
.nav-list{
    text-align: center;
    display: flex;
    justify-content: center;
}
.nav-list-ul{
    display: flex;
    margin-right: 300px;
}
.nav-list-li{
    list-style: none;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 50px;
}
.nav-list-li a{
    text-decoration: none;
    color: white;
}
.nav-list-li a:hover{
    color: rgb(139, 139, 139);
}
#nav-dropdown{
    padding: 0px;
    color: white;
}
#nav-dropdown:hover{
    color: rgb(139, 139, 139);
}
.drop-nav{
    margin: 0;
}
.drop-nav li{
    list-style: none;
    margin-top: 12px;
    margin-bottom: 10px;   
}
.drop-nav li a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    transition: 0.5s;
}
.drop-nav a:hover{
    transition: 0.5s;
    background-color: black;
    padding: 0 10px;
    color: white;
}
.book-meet button{
    float: right;
    border: white 1px solid;
    margin-top: 12px;
    padding: 11px;
    width: 180px;
    color: white;
    background-color: black;
    transition: 0.5s;
}
.book-meet button:hover{
    transition: 0.5s;
    background-color: rgb(0, 91, 133);
    border: rgb(0, 91, 133) 1px solid;
}
/*responsive*/
@media only screen and (max-width: 1700px) and (min-width:1200px) {
    .logo img{
        width: 130px;
        float: left;
        margin-top: 15px;
        margin-left: 100px;
    }
    .nav-list-ul{
        display: flex;
        margin-right: 80px;
    }
    .nav-list-li{
        list-style: none;
        margin-top: 25px;
        margin-bottom: 10px;
        margin-right: 30px;
    }
    .nav-list-li a{
        font-size: 14px;
        text-decoration: none;
        color: white;
    }
    #nav-dropdown{
        margin-top: 4px;
        font-size: 14px;
        padding: 0px;
        color: white;
    }
    .drop-nav li a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: black;
        transition: 0.5s;
    }
    .book-meet button{
        float: right;
        border: white 1px solid;
        margin-top: 15px;
        padding: 8px;
        width: 140px;
        color: white;
        background-color: black;
        transition: 0.5s;
    }
}
@media only screen and (max-width: 1199px)and (min-width: 600px) {
    .nav-body{
        top: 0;
        z-index: 100000;
        width: 100%;
        height: 80px;
        background-color: black;
        position: fixed;
    }
    .logo img{
        position: absolute;
        width: 100px;
        padding-bottom: 3%;
        margin-top: 22px;
        margin-right: 0px;
        margin-left: 4%;
    }
    .nav-list-ul{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 85px;
        margin-right: 0px;
    }
    .nav-list-li{
        list-style: none;
        margin-top: 25px;
        margin-bottom: 10px;
        margin-right: 14px;
    }
    .nav-list-li a{
        font-size: 12px;
        text-decoration: none;
        color: white;
    }
    #nav-dropdown{
        margin-top: 4px;
        font-size: 12px;
        padding: 0px;
        color: white;
    }
    .drop-nav li a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: black;
        transition: 0.5s;
    }
    .book-meet button{
        display: none;
        float: right;
        border: white 1px solid;
        margin-top: 15px;
        padding: 8px;
        width: 140px;
        color: white;
        background-color: black;
        transition: 0.5s;
    }
}