.head{
    margin-left: 200px;
    margin-top: 200px;
}
.head h2{
    color: black;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
}
.head p{
    color: black;
    font-size: 23px;
    width: 900px;
}
.head button{
    border: black 1px solid;
    margin-top: 12px;
    font-weight: bold;
    font-size: 17px;
    padding: 11px;
    width: 180px;
    color: black;
    background-color: white;
    transition: 0.5s;
}
.head button:hover{
    transition: 0.5s;
    color: white;
    background-color: rgb(0, 91, 133);
    border: rgb(0, 91, 133) 1px solid;
}
.container{
    display: flex;
}
.cont{
    margin-top: 120px;
    margin-left: 50px;
    
}
.cont h2{
    font-size:24px ;
    color: black;
    width: 350px;
    position: absolute;
}
.cont p{
    color: black;
    margin-top: 70px;
    width: 350px;
    
}
.cont img{
    padding-top: 30px;
    width: 100px;
    display: block;
    margin: auto;
}
.get-prop{
    margin-left: 350px;
    margin-top: 140px;
    background-color:rgb(211, 137, 0) ;
    height: 440px;
    width: 1200px;
}
.get-prop h2{
    color: black;
    font-size: 30px;
    padding-top: 40px;
    padding-left: 30px;
    font-family: 'Krona One', sans-serif;
}
.get-prop p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    padding-left: 30px;
    width: 700px;
    padding-bottom: 170px;
}
.get-prop a{
    font-family: 'Krona One', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 80px;
    margin-left: 10px;
    transition: 0.5s;
}
.get-prop a:hover{
    font-size: 85px;
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.555);
}
.indust-collab {
    margin-left: 250px;
    margin-top: 140px;
    height: 1000px;
}
.indust-collab  h1{
    color: black;
    width: 700px;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
}
.indust-collab p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    width: 600px;
}
.indust-collab .collab-home{
    position: absolute;
    margin-left: 730px;
    width: 780px;
}
@media only screen and (max-width: 1700px) and (min-width:1200px) {
    .head{
        margin-left: 200px;
        margin-top: 200px;
    }
    .head h2{
        color: black;
        font-size: 32px;
        font-family: 'Krona One', sans-serif;
    }
    .head p{
        color: black;
        font-size: 23px;
        width: 900px;
    }
    .head button{
        border: black 1px solid;
        margin-top: 12px;
        font-weight: bold;
        font-size: 17px;
        padding: 11px;
        width: 180px;
        color: black;
        background-color: white;
        transition: 0.5s;
    }
    .container{
        display: flex;
    }
    .cont{
        margin-top: 120px;
        margin-left: 6%;
        
    }
    .cont h2{
        font-size:22px ;
        color: black;
        width: 300px;
        position: absolute;
    }
    .cont p{
        color: black;
        margin-top: 70px;
        width: 95%;
        
    }
    .cont img{
        padding-top: 30px;
        width: 80px;
        display: block;
        margin: auto;
    }
    .indust-collab {
        margin-left: 10%;
        margin-top: 140px;
        height: 1000px;
    }
    .indust-collab  h1{
        color: black;
        width: 45%;
        font-size: 26px;
        font-family: 'Krona One', sans-serif;
    }
    .indust-collab p{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        width: 45%;
    }
    .indust-collab .collab-home{
        position: absolute;
        margin-left: 42%;
        width: 48%;
    }
}