.cards{
    background-color: rgb(120 176 203);
    width: 290px;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.cards:hover{
    transition: 0.5s;
    height:260px;
    background-color: rgb(150, 186, 204);
    cursor: pointer;
}
.cards img{
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 120px;
    color: aliceblue;
}
.cards p{
    margin-top: 40px;
    width: 290px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.card-list{
    display: flex;
    flex-wrap: wrap;
}