@media only screen and (max-width: 1700px) and (min-width:1200px) {
    .cnt{
        margin-left: 10%;
        margin-top: 200px;
    }
    
    .cnt h1{
        color: rgb(0, 0, 0);
        font-size: 35px;
        font-family: 'Krona One', sans-serif;
    }
    .cnt h2{
        margin-top: 60px;
        color: black;
        font-size: 30px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .cnt p{
        color: black;
        font-size: 18px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width: 90%;
    }
    .cnt li{
        color: black;
        font-size: 18px;
        margin-top: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width: 90%;
    }
    .cnt span{
        font-weight: bold;
    }
}