.study-card{
    width:420px;
    transition: 0.3s;
}
.study-card:hover{
    transition: 0.3s;
    opacity: 0.8;
    cursor: pointer;
}
.study-card img{
    width: 350px;
}
.study-card h3{
    color: black;
    font-size: 20px;
}
.study-card p{  
    color: black;
}
.study-list{
    margin-left: 110px;
    display: flex;
    flex-wrap: wrap;
}